{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Sign In</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div class="container-fluid">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sign In</span></h2>
            <div class="row px-xl-5">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form bg-light p-30">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                {{form.username}}   
                                <p class="help-block text-danger"></p>
                            </div>
                           
                            <div class="control-group">
                                {{form.password}}
                                <p class="help-block text-danger"></p>
                                
                            </div>
                            {% if form.errors %}
                            <p>Your username and passwords didn't match.  Please try again.</p>
                            {% endif %}
                            <div>
                                <button class="btn btn-primary py-2 px-4" name="submit" id="sendMessageButton">Sign In</button>
                                <input type="hidden" name="next" value="{% url 'products:index' %}">
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col-lg-5 mb-5">
                        <!-- <div class="w-100">
                            <img src="logo.JPG"  alt="">
                            
                        </div> -->
                        <div class="">
                            <img class="w-100 h-100" src="{% static '/img/logo.JPG' %}" alt="Image">
                        </div>
                    
                </div>
                
            </div>
    </form>
    </div>
    <!-- Contact End -->


    


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
{% endblock content %}